version: '3'

services:
  meilisearch:
    image: getmeili/meilisearch:v1.6
    ports:
      - "7700:7700"
    environment:
      - MEILI_MASTER_KEY=masterKey123
      - MEILI_ENV=development
    volumes:
      - meili_data:/meili_data

volumes:
  meili_data:
